<li id="comment-<%= comment._id %>">
    <p>
        <% if(locals.user && locals.user.id == comment.user.id){ %>
        <small>
            <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>" style="color:black">X</a>
        </small>
        <%}%>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>